@import "tailwindcss";

#header {
    background-color: #102dac;
}

/* .productlist {
    background-color: #26CCC2;
} */
 
#header h2{color: #fff;}
nav ul {
    display: flex;
    margin: 0px;
}
nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    color: black;
    font-size: larger;
    text-decoration: none;
}

nav ul li a:hover {
    color: #5A0E24;
}

.modalFooter {
    display: flex !important;
    justify-content: center !important;
    padding-top: 0px !important;
    border-top: 0 !important; 
}